*

!*bin
*bin/*
!*bin/onmacbookscreen
!*bin/onsharing
!*bin/onmonitor
!*bin/set_external_monitor_horizontal.sh
!*bin/set_external_monitor_vertical.sh

!*bin/bash_init_script.sh
!*bin/shell_init_script.sh
!*bin/zsh_init_script.sh

!.vimrc
!.gitignore_global
!.config
!.editrc
!.inputrc
!.gemrc

!*.oni/
*.oni/*
!*.oni/config.js

*.config/*
!*.config/alias.sh
!*.config/autocomplete.sh
!*.config/env.sh
!*.config/git.sh
!*.config/ld_library_path.sh
!*.config/path.sh
!*.config/prompt.sh
!*.config/ruby.sh
!*.config/source_this.bash
!*.config/source_this.zshrc
!*.config/source_this.zshenv
!*.config/tmuxinator.bash
!*.config/nvim/
*.config/nvim/*
!*.config/nvim/init.vim
!*.config/alacritty/
*.config/alacritty/*
!*.config/alacritty/alacritty.yml

!*.UltiSnips/
!*.UltiSnips/*

!*.gitignore
