*

!*bin
*bin/*
!*bin/shell_init_script.sh
!*bin/fix_spotlight_index.sh

!*.vimrc
!*.gitignore_global
!*.config
!.editrc
!.inputrc

*.config/*
!*.config/alias.sh
!*.config/env.sh
!*.config/git.sh
!*.config/ld_library_path.sh
!*.config/path.sh
!*.config/prompt.sh
!*.config/ruby.sh
!*.config/source_this.sh

!*.gitignore
